.todoApp {
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(112, 112, 112, 0.5);
    max-width: 390px;
    margin: 3vh auto 0;
    padding: 4px 3px 0 3px;

    .task__wrapper {
        .task__input {
            width: 100%;
            display: flex;
            padding: 2px;

            .input__imgWrapper {
                max-height: 30px;
                padding: 0;

                .input__img {
                    cursor: pointer;
                    width: 29px;
                    height: auto;
                    padding: 1px 0 4px 4px;
                }
            }

            .input {
                input {
                    border: 0;
                    border-radius: 4px;
                    outline: none;
                    padding: 3px;
                    font-size: 18px;
                    font-family: 'ubunto i', sans-serif;
                }
                input::placeholder {
                    color: lightgrey;
                    opacity: 0.4;
                }
            }
        }
    }

    .todoApp__itemlist {
        font-family: 'ubunto r', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        input {
            border: 0 solid transparent;
            outline: none;
            font-family: 'ubunto r', sans-serif;
            padding: 6px 1px;
            margin: 0 35px;
            font-size: 16px;
            width: -webkit-fill-available;
        }

        .item__style {
            min-height: 37px;
        }
        .item {
            display: flex;
            justify-content: space-between;
            min-height: 30px;
            padding: 6px 1px;

            .item__checkbox-wrapper {
                flex-grow: 1;
            }

            .item__value {
                cursor: pointer;
                flex-grow: 3;
                width: 100%;
            }

            .item__cross {
                flex-grow: 1;
                padding: 5px 0 0 0;
                .cross {
                    width: 9px;
                    height: auto;
                    opacity: 0;
                }
            }

            .cross,
            .checkbox {
                margin: auto 10px auto 5px;
                cursor: pointer;
            }
            .checkbox {
                width: 20px;
                height: auto;
            }
        }
        .item:hover .cross {
            opacity: 1;
        }
    }
    .task__filres {
        display: flex;
        justify-content: space-between;
        padding: 10px 7px;
        font-size: 14px;
        .numberItems {
        }
        .filter__condition {
            display: flex;
        }
        .clear {
            cursor: pointer;
            padding-bottom: 2px;
        }
        .clear:hover {
            border-bottom: 1px rgba(112, 112, 112, 0.2) solid;
            padding-bottom: 1px;
        }
    }
}
