.App, .InputMain{
    width: fit-content;
    margin: 0 auto;
}
.App{
    margin-top: 15vh;
    // box-shadow: 0 0 4px	rgba(112,112,112, .4);
    border-radius: 4px;
}
.InputMain input{
    box-shadow: 0 0 4px	rgba(112,112,112, .4);
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    padding: 3px;
}