* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'ubunto r';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'ubunto i';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Ubuntu-Italic.ttf');
}

@font-face {
    font-family: 'ubunto l';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Ubuntu-Light.ttf');
}
p {
    font-family: 'ubunto r', sans-serif;
}

.hide {
    display: none !important;
}
.opasity {
    opacity: 0;
}
h1 {
    font-family: 'ubunto r', sans-serif;
    margin: 7vh auto 0;
    text-align: center;
    font-size: 1.5em;
}
.border_bottom {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
}
input:focus {
    color: grey;
}
$w-cfm-height: 130px;
$w-cfm-width: 250px;
.window {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(36, 32, 32, 0.3);
    .window__confirm {
        border-radius: 3px;
        padding: 5px;
        box-shadow: 0 3px 17px rgba(36, 32, 32, 0.6);
        position: absolute;
        top: calc(50% - (130px));
        left: calc(50% - (250px / 2));
        height: $w-cfm-height;
        width: $w-cfm-width;
        background: white;
        z-index: 2;
        .cross {
            box-shadow: inset 0 0 4px rgba(163, 13, 13, 0.6);
            cursor: pointer;
            position: absolute;
            height: 5px;
            right: 5px;
            width: 13px;
            height: auto;
            padding: 0 2px;
        }
        .question {
            width: 80%;
            margin: 40px auto;
            height: 20px;
            span {
                color: gray;
                font-size: 14px;
            }
        }
        .question__bittons {
            display: flex;
            justify-content: space-between;
            width: 66px;
            position: absolute;
            bottom: 10px;
            right: 10%;
        }
    }
}
